
:root {
--first-color: rgb(0,0,0);
--second-color: rgb(255,0,0);
--size:100px;
}


body {

    background-color: var(--first-color);    
}




.Ball {

    background-color: var(--second-color);
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);

}
